<div class="form-background-image" id="background-image">
  <h2 class="user-form-header">Just one more step to enjoy fresh, homecooked food ...</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs user-forms">
      <%= f.input :first_name,
                  required: true,
                  autofocus: true,
                  label: false,
                  placeholder: "First name",
                  input_html: {
                    autocomplete: "first-name",
                    class: "form-input-field" }%>
      <%= f.input :last_name,
                  required: true,
                  autofocus: true,
                  label: false,
                  placeholder: "Last name",
                  input_html: { autocomplete: "last-name",
                  class: "form-input-field" }%>
      <%= f.input :address,
                  required: true,
                  autofocus: true,
                  label: false,
                  placeholder: "Address",
                  input_html: { autocomplete: "address", id: "user_address",
                  class: "form-input-field" }%>
      <%= f.input :phone_number,
                  required: true,
                  autofocus: true,
                  label: false,
                  placeholder: "Phone number",
                  input_html: { autocomplete: "phone-number",
                  class: "form-input-field" }%>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  label: false,
                  placeholder: "E-mail",
                  input_html: { autocomplete: "email",
                  class: "form-input-field" }%>
      <%= f.input :photo,
                  as: :file,
                  inner_html: {class: "btn btn-image-upload form-input-field"} %>
      <%= f.input :password,
                  required: true,
                  label: false,
                  placeholder: "Password",
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  label: false,
                  placeholder: "Repeat Password",
                  input_html: { autocomplete: "new-password" } %>

    <%= "Are you registering as an Auntie?" %>
    <%= f.input :auntie, :as => :boolean, input_html: {checked: false}  %>
    </div>

    <div class="form-actions" type="button">
      <%= f.button :submit, "Sign up", class: "btn btn-rounded" %>
    </div>
  <% end %>
</div>
