<div class="container grid-center">
  <h3 class="user-form-header" id="order-heading">Your Orders</h3>
    <% @orders.each do |order| %>
      <%Meal.find(order.meal_id).meal_name %>
      <div class="order-card">
        <%= cl_image_tag order.meal.photo.key, class: "cover"%>
        <div class="info">
          <div>
            <h2>Your <%= order.meal.meal_name %> will be ready for pick-up at: <%= order.pickup_time.strftime('%H:%M') %></h2>
            <h3>Total Amount Due: €<%= order.quantity * order.meal.price %></h3>
          </div>
        </div>
      </div>
    <% end %>


  <%= link_to "View All Meals", meals_path, class: "btn" %>
</div>
