<h3>Your Orders: </h3><br>

<ul>
  <% @orders.each do |order| %>
    <li><%Meal.find(order.meal_id).meal_name %><br>
    <div class="order-card">
      <%= cl_image_tag order.meal.photo.key, class: "cover"%>
      <div class="info">
        <div>
          <%# <h3>Your Order</h3> %>
          <h2>Your <%= order.meal.meal_name %> will be ready for pick-up at: <%= order.pickup_time %></h2>
          <h3>Total Amount Due: €<%= order.quantity * order.meal.price %></h3>
        </div>
        <%# <%= cl_image_tag @user.photo.key, class: "avatar" %> 
      </div>
    </div>
    </li>
  <% end %>
</ul>


<div class="btn"><%= link_to "<< View All Meals", meals_path %></div>

