<h2 class="user-form-header">Please enter your meal quantity</h2>

<%= simple_form_for(@order)  do |f| %>
<% if @error %>
  <p><%= @error %></p>
<% end %>

<div class="form-inputs user-forms">
  <%= f.input :quantity %>
  <%= f.hidden_field :meal_id, value: params[:format]%>
</div>

  <%= f.submit %>
<% end %>
