<div class="banner" id="banner">
  <div class="embedded-menu-bar">
    <ul>
      <% if current_user %>
          <li class="user-nav-links">
            <span>
              <%= current_user.first_name %>
            </span>
          </li>
          <li class="user-nav-links"><%= link_to "View All Meals", meals_path, class: "btn btn-inverse" %></li>
          <li class="user-nav-links"><%= link_to "My Orders", my_orders_path(current_user), class: "btn btn-inverse" %></li>
          <li class="user-nav-links">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-inverse btn-logout" %>
          </li>
        <% else %>
          <li class="user-nav-links">
            <%= link_to "Login", new_user_session_path, class: "btn btn-inverse" %>
          </li>
          <li class="user-nav-links">
            <%= link_to "Registration", new_user_registration_path, class: "btn btn-inverse" %>
          </li>
        <% end %>
    </ul>
  </div>
  <div class="site-info">
    <h1>Welcome to <span class="brand-font-logo">Aunties</span></h1>
    <p>Choose an Auntie nearby and enjoy a fresh, homecooked meal</p>
  </div>
</div>
<div class="section-container">

  <section class="tile-view">
    <% @meals.first(3).each do |meal| %>
    <%# Temporary delete with render %>
      <div class="tile-container">
        <h5 class="meal-name"><%= meal.meal_name %></h5>
        <div class="image-container">
        <% if meal.photo.attached? %>
          <%= cl_image_tag meal.photo.key, class: "meal-image" %>
        <% else %>
          <%= cl_image_tag "https://res.cloudinary.com/dz9aqljih/image/upload/v1629377182/Aunties_stock_images/stock_wfzixd.jpg", class: "meal-image" %>
        <% end %>
        <%= link_to "Order now", meal_path(meal),  class: "btn meal-order-button" %>
        </div>
        <div class="user-info">
          <p class="user-name">Auntie <%= meal.user.first_name %></p>
          <p class="user-price"><%= meal.price %>.00€</p>
        </div>
      </div>
    <% end %>
  </section>
  </div>
</div>
