<div class="section-container">
  <h3>Todays Lunches</h3>
  <section class="tile-view">
    <%= render 'tile' %>
    <%= render 'tile' %>
    <%= render 'tile' %>
    <%= render 'tile' %>
  </section>


  <div class="info-box">
  </div>
</div>

<%= link_to "Logout", destroy_user_session_path, method: :delete %><br>
