<h3 class="meals-header-text">Here are the meal details for <%= @meal.meal_name %>: </h3>

<div class="orders-body-text">
  <h2>Category:</h2>
  <p><%= @meal.category %></p>

  <h2>Description:</h2>
  <p><%= @meal.description %></p>

  <h2>Price:</h2>
  <p>€ <%= @meal.price %></p>

  <h2>Pick-up Location:</h2>
  <p><%= @meal.address %></p>

  <h2>Quantity Available:</h2>
  <p><%= @meal.quantity %> meals</p>
</div>

<div class="">
  <div>
  <%= link_to "Book this meal", new_order_path(@meal) %><br>
  <%= link_to "Edit", edit_meal_path %><br>
  <%= link_to "Delete", meal_path(@meal), method: :delete, data: { confirm: "Are you sure?" } %><br><br>
  </div>
  <div class="btn-back">
    <%= link_to "Back to All Meals", meals_path, class: "btn btn-rounded" %>
  </div>
</div>
