<h3>Here Are the Meal Details for <%= @meal.meal_name %>: </h3>
<div>
  <h2>Category:</h2>
  <p><%= @meal.category %></p>

  <h2>Description:</h2>
  <p><%= @meal.description %></p>

  <h2>Price:</h2>
  <p>$<%= @meal.price %></p>

  <h2>Quantity Available:</h2>
  <p><%= @meal.quantity %> meals</p>
</div>

<div>
<%= link_to "Book this meal", new_order_path(@meal) %><br>
<%= link_to "Edit", edit_meal_path %><br>
<%= link_to "Delete", meal_path(@meal), method: :delete, data: { confirm: "Are you sure?" } %><br><br>
<%= link_to "<< Back to All Meals", meals_path %>
</div>


