<!DOCTYPE html>
<html>

  <head>
    <title>Aunties</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css' rel='stylesheet' />
  </head>

  <body>
    <div class="navigation navbar navbar-expand-sm navbar-light navbar-auntie">
      <div class="logo">
      <h2><%= link_to "Auntie's", root_path,  class: "brand-font-logo", id: "logo"  %></h2>
      </div>
      <div>
        <ul id="links">
        <% if current_user %>
          <li class="user-nav-links navbar-links">
            <span>
              <%= current_user.first_name %>
            </span>
          </li>
          <li class="user-nav-links navbar-links"><%= link_to "View All Meals", meals_path, class: "btn btn-inverse" %></li>
          <li class="user-nav-links navbar-links"><%= link_to "My Orders", my_orders_path(current_user), class: "btn btn-inverse" %></li>
          <li class="user-nav-links navbar-links">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-inverse btn-logout" %>
          </li>
          <li class="user-nav-links navbar-links">
            <%= cl_image_tag current_user.photo.key, class: "avatar" if current_user && current_user.photo.attached?%>
          </li>
        <% else %>
          <li class="user-nav-links navbar-links">
            <%= link_to "Login", new_user_session_path, class: "btn btn-inverse" %>
          </li>
          <li class="user-nav-links navbar-links">
            <%= link_to "Registration", new_user_registration_path, class: "btn btn-inverse" %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>

      <%= yield %>
      <%= render "shared/flashes" %>
  </body>
</html>
